<h1>Where in the world have you been?</h1>
<!--array of places and if else statement-->
#if ($places)
  <ul>
    #foreach ($place in $places)
    <li>$place.getDestination()</li>
    #end
  </ul>
#else
  <p>Go somewhere else</p>
#end

<form action="/input" method="post">
  <label for="destination">Location Visited</label>
  <input id="destination" name="destination" type="text">

  <button type="submit" class="btn btn-default">Add Place</button>
</form>
